USE [CoolCabServices]
GO
/****** Object:  User [ASPNET]    Script Date: 12/18/2009 17:51:13 ******/
CREATE USER [ASPNET] WITH DEFAULT_SCHEMA=[ASPNET]
GO
/****** Object:  Schema [ASPNET]    Script Date: 12/18/2009 17:51:13 ******/
CREATE SCHEMA [ASPNET] AUTHORIZATION [ASPNET]
GO
/****** Object:  Table [dbo].[Tbl_Manger]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Manger](
	[MangerID] [varchar](50) NOT NULL,
	[EmpName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Qulification] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[PhoneNo] [varchar](50) NULL,
	[EmailID] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[DOJ] [varchar](50) NULL,
	[Age] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_AdminLogin]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_AdminLogin](
	[AdminID] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[EmailID] [varchar](50) NULL,
	[Department] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tbl_AdminLogin', @level2type=N'COLUMN',@level2name=N'AdminID'
GO
/****** Object:  Table [dbo].[Tbl_SparePartBiiling]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_SparePartBiiling](
	[BillNo] [varchar](50) NOT NULL,
	[VehicleID] [varchar](50) NULL,
	[SpareType] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[BillDate] [datetime] NULL,
	[SparePart] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[TotalAmount] [int] NULL,
 CONSTRAINT [PK_Tbl_SparePartBiiling] PRIMARY KEY CLUSTERED 
(
	[BillNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAdminNewLogin]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdminNewLogin](
	[UserId] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Department] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_EmployeeDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_EmployeeDetails](
	[EID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [varchar](50) NULL,
	[EmpName] [varchar](50) NULL,
	[PAddress] [varchar](50) NULL,
	[CAddess] [varchar](50) NULL,
	[Qulification] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[VehicleReqire] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[PhoneNo] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[DOJ] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[TimeSpan] [varchar](50) NULL,
	[ImagePath] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_EmployeeDetails] PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_VenderDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_VenderDetails](
	[VID] [int] IDENTITY(1,1) NOT NULL,
	[VenderID] [varchar](50) NULL,
	[VenderName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[PhoneNo] [varchar](50) NULL,
	[EmailID] [varchar](50) NULL,
	[Remarks] [varchar](50) NULL,
	[ImagePath] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_VenderDetails] PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_VehicleDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_VehicleDetails](
	[VHID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[VenderID] [varchar](50) NULL,
	[DriverID] [varchar](50) NULL,
	[VehicleType] [varchar](50) NULL,
	[RegistorNo] [varchar](50) NULL,
	[RateKm] [varchar](50) NULL,
	[Capacity] [varchar](50) NULL,
	[RouteID] [varchar](50) NULL,
	[ImagePath] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_VehicleDetails] PRIMARY KEY CLUSTERED 
(
	[VHID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_VehicleBillingTransction]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_VehicleBillingTransction](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BillNo] [varchar](50) NULL,
	[VehicleID] [varchar](50) NULL,
	[Amount] [varchar](50) NULL,
	[DateOfBilling] [datetime] NULL,
	[VenderID] [varchar](50) NULL,
	[Deduction] [varchar](50) NULL,
	[NetAmount] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Tbl_VehicleBillingTransction] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_VehicleAllocationDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_VehicleAllocationDetails](
	[VAID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleAllocationID] [varchar](50) NULL,
	[VehicleID] [varchar](50) NULL,
	[EmployeeID] [varchar](50) NULL,
	[DriverID] [varchar](50) NULL,
	[PickupDrop] [varchar](50) NULL,
	[RouteID] [varchar](50) NULL,
	[VDate] [datetime] NULL,
 CONSTRAINT [PK_Tbl_VehicleAllocationDetails] PRIMARY KEY CLUSTERED 
(
	[VAID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_TripSheet]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_TripSheet](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TripSheetID] [varchar](50) NULL,
	[AllocationID] [varchar](50) NULL,
	[VehicleID] [varchar](50) NULL,
	[RateKM] [varchar](50) NULL,
	[KM] [varchar](50) NULL,
	[TotalAmount] [int] NULL,
	[Remark] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_TripSheet] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_SparePartsDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_SparePartsDetails](
	[SPID] [int] IDENTITY(1,1) NOT NULL,
	[SparerPartID] [varchar](50) NULL,
	[DealerName] [varchar](50) NULL,
	[SparePartType] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[SparePart] [varchar](50) NULL,
	[DateOfPurchase] [datetime] NULL,
	[Price] [varchar](50) NULL,
	[AmountPaid] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_SparePartsDetails] PRIMARY KEY CLUSTERED 
(
	[SPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_ShiftTimeing]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_ShiftTimeing](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftID] [varchar](50) NULL,
	[ShiftName] [varchar](50) NULL,
	[StartingTime] [varchar](50) NULL,
	[DispatchTime] [varchar](50) NULL,
	[NoBatches] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_ShiftTimeing] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_ShiftSchedule]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_ShiftSchedule](
	[SSID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftSchduleID] [varchar](50) NULL,
	[EmpID] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[BatchID] [varchar](50) NULL,
	[EmpName] [varchar](50) NULL,
	[ShiftID] [varchar](50) NULL,
	[RouteID] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_ShiftSchedule] PRIMARY KEY CLUSTERED 
(
	[SSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_RouteDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_RouteDetails](
	[RTID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [varchar](50) NULL,
	[RouteDescription] [varchar](50) NULL,
	[Source] [varchar](50) NULL,
	[Destination] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_RouteDetails] PRIMARY KEY CLUSTERED 
(
	[RTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_DriverDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_DriverDetails](
	[DVID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[PhoneNo] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[DOJ] [datetime] NULL,
	[Experience] [varchar](50) NULL,
	[LicenceNo] [varchar](50) NULL,
	[ImagePath] [varchar](50) NULL,
	[NoOfAccident] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_DriverDetails] PRIMARY KEY CLUSTERED 
(
	[DVID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_BatchDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_BatchDetails](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BatchID] [varchar](50) NULL,
	[TotalNoOfEmployees] [varchar](50) NULL,
	[ShiftID] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_BatchDetails] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_AccidentDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_AccidentDetails](
	[ADID] [int] IDENTITY(1,1) NOT NULL,
	[AccidentID] [varchar](50) NULL,
	[VehicleID] [varchar](50) NULL,
	[ADate] [varchar](50) NULL,
	[ATime] [varchar](50) NULL,
	[Remarks] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_FeedBackFrom]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_FeedBackFrom](
	[FBID] [int] IDENTITY(1,1) NOT NULL,
	[FeedBackID] [varchar](50) NULL,
	[EmpID] [varchar](50) NULL,
	[VehicleID] [varchar](50) NULL,
	[DriverID] [varchar](50) NULL,
	[Remarks] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_FeedBackFrom] PRIMARY KEY CLUSTERED 
(
	[FBID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_DriverShiftDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_DriverShiftDetails](
	[DSID] [int] IDENTITY(1,1) NOT NULL,
	[DriverShiftID] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[DriverID] [varchar](50) NULL,
	[ShiftID] [varchar](50) NULL,
	[ShiftDate] [datetime] NULL,
	[Shifting] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_DriverShiftDetails] PRIMARY KEY CLUSTERED 
(
	[DSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_MangerNew]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_MangerNew]
(
	@MangerID varchar(50)=null,
	@EmpName varchar(50)=null,
	@UserName varchar(50)=null,
	@password varchar(50)=null,
	@Address varchar(50)=null,
	@Qulification varchar(50)=null,
	@DOB varchar(50)=null,
	@Gender varchar(50)=null,
	@PhoneNo varchar(50)=null,
	@EmailID varchar(50)=null,
	@Designation varchar(50)=null,
	@Department varchar(50)=null,
	@DOJ varchar(50)=null,
	@Age varchar(50)=null,
	@AdminID varchar(50)=null,
	@Type char(3)=null
)
as
		if(@Type='i')
		begin
			if not exists(select * from Tbl_Manger where EmailId=@EmailId)
				begin
					declare @ID varchar(50)
					set @ID='MNGID'+cast((select count(@@rowcount)+1 from Tbl_Manger)as varchar)
					insert into Tbl_Manger(MangerID,EmpName,Address,Qulification,DOB,Gender,PhoneNo,
					EmailID,Designation,Department,DOJ,Age)values(@ID,@EmpName,@Address,@Qulification,
					@DOB,@Gender,@PhoneNo,@EmailID,@Designation,@Department,@DOJ,@Age)
					insert into tblAdminNewLogin(UserId,Password,Department)values(@ID,@ID,@Department)
					select MangerID from Tbl_Manger where MangerID=@ID
				end
			else
				begin
					select 'Manager Exists' as MangerID
				end	
		
	
		end

		if(@Type='u')
		begin
			if  exists(select * from Tbl_Manger where  MangerID=@MangerID)
				begin
					update Tbl_Manger set EmpName=@EmpName,Address=@Address,Qulification=@Qulification,DOB=@DOB,Gender=@Gender,PhoneNo=@PhoneNo,EmailID=@EmailID,Designation=@Designation,Department=@Department,DOJ=@DOJ,Age=@Age where MangerID=@MangerID
					select 'Manager Details Updated' as 'MangerID'
				end
			else
				begin
					select 'Manager Not  Exists' as 'MangerID'
				end
		end	

		if(@Type='s')
			begin
				select * from Tbl_Manger
			end

		if(@Type='ss')
			begin
				select * from Tbl_Manger where MangerID=@MangerID
			end

		if(@Type='d')
			begin
				delete Tbl_Manger where MangerID=@MangerID
			end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_Manger]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_Manger]
(
	@MangerID varchar(50)=null,
	@EmpName varchar(50)=null,
	@UserName varchar(50)=null,
	@password varchar(50)=null,
	@Address varchar(50)=null,
	@Qulification varchar(50)=null,
	@DOB varchar(50)=null,
	@Gender varchar(50)=null,
	@PhoneNo varchar(50)=null,
	@EmailID varchar(50)=null,
	@Designation varchar(50)=null,
	@Department varchar(50)=null,
	@DOJ varchar(50)=null,
	@Age varchar(50)=null,
	@AdminID varchar(50)=null,
	@Type char(3)=null
)
as
		if(@Type='i')
		begin
			if not exists(select * from Tbl_Manger where EmpName=@EmpName )
				begin

				if not exists(select * from Tbl_AdminLogin where password=@password)
					  begin
			
					   --  declare @ID varchar(50)
					   --  set @ID='MNG ID'+cast((select count(@@rowcount)+1 from Tbl_Manger)as varchar)		
	
						insert into Tbl_Manger(MangerID,EmpName,Address,Qulification,DOB,Gender,PhoneNo,
							EmailID,Designation,Department,DOJ,Age)values(null,@EmpName,@Address,@Qulification,
							@DOB,@Gender,@PhoneNo,@EmailID,@Designation,@Department,@DOJ,@Age) 

					declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='MNG ID'+cast(@pk as varchar(50))

					update Tbl_Manger set MangerID=@ID where EmpName=@EmpName

						 declare @IDE varchar(50)
					    	 set @IDE='Admin'+cast((select count(@@rowcount)+1 from Tbl_AdminLogin)as varchar)		
						insert into Tbl_AdminLogin(AdminID,UserName,password,EmailID,Department)values
						(@IDE,@UserName,@password,@EmailID,@Department)
					
					end
				else
					begin
						select @AdminID=0
					end


				end
			else		
				begin
					select @MangerID=0
				end

		end

		if(@Type='u')
		begin
			update Tbl_Manger set EmpName=@EmpName,Address=@Address,Qulification=@Qulification,DOB=@DOB,Gender=@Gender,PhoneNo=@PhoneNo,EmailID=@EmailID,Designation=@Designation,Department=@Department,DOJ=@DOJ,Age=@Age where MangerID=@MangerID
		end	

		if(@Type='s')
			begin
				select * from Tbl_Manger
			end

		if(@Type='ss')
			begin
				select * from Tbl_Manger where MangerID=@MangerID
			end

		if(@Type='d')
			begin
			delete Tbl_Manger where MangerID=@MangerID
			end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_AdminLogin]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_AdminLogin]
(
	@AdminID int=null,
	@UserName varchar(50)=null,
	@PassWord varchar(50)=null,
	@EmailID varchar(50)=null,
	@Type char(2)=null
)
as
	if(@Type='s')
		begin
			select * from Tbl_AdminLogin
		end
	

	if(@Type='u')
		begin
			update Tbl_AdminLogin set PassWord=@PassWord where AdminID=@AdminID
		end

	if(@Type='ss')
		begin
			select * from Tbl_AdminLogin where PassWord=@PassWord and UserName=@UserName
		end

	if(@Type='ul')
		begin
			update Tbl_AdminLogin set  PassWord=@PassWord   where  UserName=@UserName
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_SparePartBiiling]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_SparePartBiiling]
(
	@BillNo varchar(50)=null,
	@VehicleID varchar(50)=null,
	@SpareType varchar(50)=null,	
	@Quantity varchar(50)=null,
	@BillDate datetime=null,
	@SparePart varchar(50)=null,
	@Price varchar(50)=null,
	@TotalAmount int=null,
	@Type char(3)=null

)
as
	if(@Type='i')
		begin
			
				declare @ID varchar(50)
				set @ID='Biill ID'+cast((select count(@@rowcount)+1 from Tbl_SparePartBiiling)as varchar)
				insert into Tbl_SparePartBiiling(BillNo,VehicleID,SpareType,Quantity,BillDate,SparePart,Price,TotalAmount)values(@ID,@VehicleID,@SpareType,@Quantity,@BillDate,@SparePart,@Price,@TotalAmount)
				

			
		
		end

	if(@Type='u')
		begin
			update Tbl_SparePartBiiling set VehicleID=@VehicleID,SpareType=@SpareType,Quantity=@Quantity,BillDate=@BillDate,SparePart=@SparePart,Price=@Price,TotalAmount=@TotalAmount where BillNo=@BillNo
		end

	if(@Type='s')
		begin
			select * from Tbl_SparePartBiiling
		end

	if(@Type='d')
		begin
			delete Tbl_SparePartBiiling where BillNo=@BillNo
		end

	if(@Type='ss')
		begin
			select *,convert(varchar(20),BillDate,101) as BillDateFMT  from Tbl_SparePartBiiling where BillNo=@BillNo
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_VehicleBillingTransction]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_VehicleBillingTransction]
(
	@BillNo varchar(50)=null,
	@VehicleID varchar(50)=null,
	@Amount varchar(50)=null,
	@DateOfBilling datetime=null,
	@VenderID varchar(50)=null,
	@Deduction varchar(50)=null,
	@NetAmount numeric(9)=null,
	@Type char(50)=null
)
as
	if(@Type='i')
		begin
					--declare @ID varchar(50)
					--set @ID='BillNo'+cast((select count(@@rowcount)+1 from Tbl_VehicleBillingTransction)as varchar)
					insert into Tbl_VehicleBillingTransction(BillNo,VehicleID,Amount,DateOfBilling,VenderID,Deduction,NetAmount)values(null,@VehicleID,@Amount,@DateOfBilling,@VenderID,@Deduction,@NetAmount)

					declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='BillNo'+cast(@pk as varchar(50))

					update Tbl_VehicleBillingTransction set BillNo=@ID where BID=@pk
		end
	
	if(@Type='u')
		begin
			update Tbl_VehicleBillingTransction set VehicleID=@VehicleID,Amount=@Amount,DateOfBilling=@DateOfBilling,VenderID=@VenderID,Deduction=@Deduction,NetAmount=@NetAmount where BillNo=@BillNo
		 end

	if(@Type='s')
		begin
			select * from Tbl_VehicleBillingTransction
		end

	if(@Type='d')
		begin
			delete Tbl_VehicleBillingTransction where BillNo=@BillNo
		end


                if(@Type='ss')
		begin
			select * from Tbl_VehicleBillingTransction where BillNo=@BillNo
		end

	if(@Type='v')
		begin		
			select * from Tbl_VehicleBillingTransction where VenderID=@VenderID

			select sum(NetAmount) as NetAmount from  Tbl_VehicleBillingTransction where VenderID=@VenderID
		end




     	 if(@Type='a')
		begin
			select sum(TotalAmount)as TotalAmount from Tbl_TripSheet where VEhicleID='VEhicle ID1'

			select sum(TotalAmount)as TotalAmount from Tbl_SparePartBiiling where VEhicleID=@VehicleID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_AdminNewLogin]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_AdminNewLogin]
(
	@UserId varchar(50)=null,
	@Password varchar(50)=null,
	@PasswordNew varchar(50)=null,
	@Department varchar(50)=null,
	@Type char(2)=null
)
as
	begin
		if(@Type='S')
--			begin
--				if exists(select * from tblAdminNewLogin where UserId=@UserId and Password=@Password)
					begin
						select Department from tblAdminNewLogin where UserId=@UserId and Password=@Password
					end
				else
					begin
						select 'User NotExists' as 'Department'
					end
			--end

		if(@Type='P')
			begin
				if exists(select * from tblAdminNewLogin where UserId=@UserId and Password=@Password)
					begin
						update tblAdminNewLogin set Password=@PasswordNew where UserId=@UserId
						select 'Password Updated' as 'Password'
					end
				else
					begin
						select 'Password Not Exists' as 'Password'
					end
			end

		if(@Type='sd')
			begin
				select * from tblAdminNewLogin
			end
		if(@Type='SP')
			begin
				select Password from tblAdminNewLogin where UserId=@UserId
			end
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_EmployeeDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_EmployeeDetails]
(
	@EmpID varchar(50)=null,
	@EmpName varchar(50)=null,
	@PAddress varchar(50)=null,
	@CAddess varchar(50)=null,
	@Qulification varchar(50)=null,
	@DOB datetime=null,
	@VehicleReqire varchar(50)=null,
	@Gender varchar(50)=null,
	@PhoneNo varchar(50)=null,
	@Designation varchar(50)=null,
	@Department varchar(50)=null,
	@DOJ datetime=null,
	@Status varchar(50)=null,
	@Age varchar(50)=null,
	@TimeSpan varchar(50)=null,
	@ImagePath varchar(50)=null,
	@Type char(3)=null
)
as

	
	if(@Type='i')
		begin
			if not exists(select * from Tbl_EmployeeDetails where EmpName=@EmpName)
				begin
					insert into Tbl_EmployeeDetails(EmpID,EmpName,PAddress,CAddess,Qulification,DOB,VehicleReqire,Gender,PhoneNo,Designation,Department,DOJ,Status,Age,TimeSpan,ImagePath)values(null,@EmpName,@PAddress,@CAddess,@Qulification,@DOB,@VehicleReqire,@Gender,@PhoneNo,@Designation,@Department,@DOJ,@Status,@Age,@TimeSpan,@ImagePath) 
	   			         declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					select @ID='EMP'+cast(@pk as varchar(50))
					
                                            -- Declare @EID varchar(30)
					--select @str=cast(((IsNull(max(EID),0))+1)as varchar(20))from Tbl_EmployeeDetails
					 --set @ID='EMP'+@str
					update Tbl_EmployeeDetails set EMPID=@ID where EmpName=@EmpName
					
				end
			
			else		
				begin
					select @EmpID=0
				end

		end
	
	if(@Type='u')
		begin
			update Tbl_EmployeeDetails set EmpName=@EmpName,PAddress=@PAddress,CAddess=@CAddess,Qulification=@Qulification,DOB=@DOB,VehicleReqire=@VehicleReqire,Gender=@Gender,PhoneNo=@PhoneNo,Designation=@Designation,Department=@Department,DOJ=@DOJ,Status=@Status,Age=@Age,TimeSpan=@TimeSpan where EmpID=@EmpID
		end	


	if(@Type='s')
		begin
			select * from Tbl_EmployeeDetails
		end

	if(@Type='d')
		begin
			delete Tbl_EmployeeDetails where EmpID=@EmpID
		end

	if(@Type='se')
		begin
			select * from Tbl_EmployeeDetails  where EmpID=@EmpID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_ShiftTimeing]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_ShiftTimeing]
(
	@ShiftID varchar(50)=null,
	@ShiftName varchar(50)=null,
	@StartingTime varchar(50)=null,
	@DispatchTime varchar(50)=null,
	@NoBatches varchar(50)=null,
	@Type varchar(3)=null
)
as
	if(@Type='i')
		begin
			if not exists(select * from Tbl_ShiftTimeing where ShiftName=@ShiftName)
				begin
					--  declare @ID varchar(50)
				  --   set @ID='Shift-ID'+cast((select count(@@rowcount)+1 from Tbl_ShiftTimeing)as varchar)		

					 insert into Tbl_ShiftTimeing(ShiftID,ShiftName,StartingTime,DispatchTime,NoBatches)values(null,@ShiftName,@StartingTime,@DispatchTime,@NoBatches)

					  declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='Shift-ID'+cast(@pk as varchar(50))
							update Tbl_ShiftTimeing set ShiftID=@ID where ShiftName=@ShiftName

				end
			else
				begin	
					select @ShiftID=0
				end					
		end


	if(@Type='u')
		begin
			update Tbl_ShiftTimeing set ShiftName=@ShiftName,StartingTime=@StartingTime,DispatchTime=@DispatchTime,NoBatches=@NoBatches where ShiftID=@ShiftID
		end

	if(@Type='s')
		begin
			select * from Tbl_ShiftTimeing
		end
	if(@Type='d')
		begin
			delete Tbl_ShiftTimeing where ShiftID=@ShiftID
		end

	if(@Type='ssf')
		begin
			select  ED.EmpId,ED.EmpName,ST.StartingTime,ST.DispatchTime from Tbl_ShiftSchedule S inner 
                        join  Tbl_EmployeeDetails ED on ED.EmpId=S.EmpId inner join Tbl_ShiftTimeing ST on ST.ShiftId=S.ShiftId 
			where ST.ShiftId=@ShiftID


                       select  DS.DriverID,DS.Name,ST.StartingTime,ST.DispatchTime from  Tbl_ShiftTimeing ST inner join 
			Tbl_DriverShiftDetails DS on DS.ShiftId =ST.ShiftId where ST.ShiftId=@ShiftID

		end



	if(@Type='ss')
		begin
			select * from Tbl_ShiftTimeing where ShiftID=@ShiftID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_VehicleDetails]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[sp_Tbl_VehicleDetails]
(
	@VehicleID varchar(50)=null,
	@VenderID varchar(50)=null,
	@Name Varchar(50)=null,
	@DriverID varchar(50)=null,
	@VehicleType varchar(50)=null,
	@RegistorNo varchar(50)=null,
	@RateKm varchar(50)=null,
	@Capacity varchar(50)=null,
	@RouteID varchar(50)=null,
	@Type char(3)=null
)
as

	if(@Type='i')
		begin
		if not exists(select * from Tbl_VehicleDetails where Name=@Name)	
			begin
			--declare @ID varchar(50)
			--set @ID='VEhicle ID'+cast((select count(@@rowcount)+1 from Tbl_VehicleDetails)as varchar)
			insert into Tbl_VehicleDetails(VehicleID,Name,VenderID,DriverID,VehicleType,RegistorNo,RateKm,Capacity,RouteID)values(Null,@Name,@VenderID,@DriverID,@VehicleType,@RegistorNo,@RateKm,@Capacity,@RouteID)
			
			declare @ID varchar(50)
			declare @pk int
				  	
		       	set @pk=scope_identity()
			set @ID='VEhicle ID'+cast(@pk as varchar(50))

			update Tbl_VehicleDetails set VehicleID=@ID where Name=@Name

			
			end
		else
			begin
					select @VehicleID=0
			end
		end
	
	if(@Type='u')
		begin
			update Tbl_VehicleDetails set Name=@Name,VenderID=@VenderID,DriverID=@DriverID,VehicleType=@VehicleType,RegistorNo=@RegistorNo,RateKm=@RateKm,Capacity=@Capacity,RouteID=@RouteID where VehicleID=@VehicleID
		end


	if(@Type='s')
		begin
			select * from Tbl_VehicleDetails
		end

	if(@Type='ss')
		begin
			select * from Tbl_VehicleDetails where VehicleID=@VehicleID
		end
	
	if(@Type='d')
		begin
			delete Tbl_VehicleDetails where VehicleID=@VehicleID
		end

	if(@Type='svd')
		begin
			select ED.EmpId,ED.EmpName,v.VenderName,DD.Name,VD.VehicleType,VD.RateKm,VD.Capacity from Tbl_ShiftSchedule S inner join  Tbl_EmployeeDetails ED on ED.EmpId=S.EmpId inner join Tbl_VehicleDetails VD on VD.RouteID=S.RouteID inner join 
    			Tbl_VenderDetails v on v.VenderID=VD.VenderID inner join Tbl_DriverDetails DD on DD.DriverID=VD.DriverID Where VD.VehicleID=@VehicleID

		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_RouteDetails]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_RouteDetails]
(
	@RouteID varchar(50)=null,
	@RouteName varchar(50)=null,
	@RouteDescription varchar(50)=null,
	@Source varchar(50)=null,
	@Destination varchar(50)=null,
	@Type char(3)=null	
)
as
	if(@Type='i')
		begin
			if not exists(select * from Tbl_RouteDetails where RouteDescription=@RouteDescription)
				begin
					--declare @ID varchar(50)
					--set @ID='Route ID'+cast((select count(@@rowcount)+1 from Tbl_RouteDetails)as varchar)
					insert into Tbl_RouteDetails(RouteID,RouteDescription,Source,Destination)values(null,@RouteDescription,@Source,@Destination)

					declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='Route ID'+cast(@pk as varchar(50))

					update Tbl_RouteDetails set RouteID=@ID where RouteDescription=@RouteDescription
				end
			else
				begin
					select @RouteID=0
				end
		end

	if(@Type='u')
		begin
			update Tbl_RouteDetails set RouteDescription=@RouteDescription,Source=@Source,Destination=@Destination where RouteID=@RouteID
		end

	if(@Type='s')
		begin
			select * from Tbl_RouteDetails 

		end
	if(@Type='d')
		begin
			delete Tbl_RouteDetails where RouteID=@RouteID
		end

	if(@Type='srt')
		begin
			select ED.EmpId,ED.EmpName,S.ShiftId,R.Source,R.Destination,B.BatchId from Tbl_ShiftSchedule S inner join  
 			Tbl_EmployeeDetails ED on ED.EmpId=S.EmpId inner join Tbl_RouteDetails R on S.RouteId=R.RouteId
			inner join Tbl_BatchDetails B on S.ShiftId=B.ShiftId where ED.EmpId in
			(select SS.EmpId from Tbl_ShiftSchedule SS inner join Tbl_RouteDetails RD on SS.RouteId=RD.RouteId where RD.RouteID=@RouteID)
		end

	if(@Type='ss')
		begin
			select * from Tbl_RouteDetails where RouteID=@RouteID

		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_VenderDetails]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_VenderDetails]
(
	@VenderID varchar(50)=null,
	@VenderName varchar(50)=null,
	@Address varchar(50)=null,
	@PhoneNo varchar(50)=null,
	@EmailID varchar(50)=null,
	@Remarks varchar(50)=null,
	@ImagePath varchar(50)=null,
	@Type char(3)=null
)
as
	if(@Type='i')
		begin
			if not exists(select * from Tbl_VenderDetails where VenderName=@VenderName)
				begin
					
					--set @ID='VNDR ID'+cast((select count(@@rowcount)+1 from Tbl_VenderDetails)as varchar)
					
					insert into Tbl_VenderDetails(VenderID,VenderName,Address,PhoneNo,EmailID,Remarks,ImagePath)values(null,@VenderName,@Address,@PhoneNo,@EmailID,@Remarks,@ImagePath)
					
					declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='VNDR ID'+cast(@pk as varchar(50))

					update Tbl_VenderDetails set VenderID=@ID where VenderName=@VenderName
					
				end
			else
				begin
					select @VenderID=0
				end
		end

	if(@Type='u')
		begin
			
			update Tbl_VenderDetails set VenderName=@VenderName,Address=@Address,PhoneNo=@PhoneNo,EmailID=@EmailID,Remarks=@Remarks,ImagePath=@ImagePath where VenderID=@VenderID
				
		end

	if(@Type='s')
		begin
			select * from Tbl_VenderDetails
		end
	
	if(@Type='d')
		begin
		delete Tbl_VenderDetails where VenderID=@VenderID
		end

	if(@Type='ss')
		begin
			select * from Tbl_VenderDetails where VenderID=@VenderID
		end
GO
/****** Object:  StoredProcedure [dbo].[Sp_Test]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_Test]
(
	@Kumar int=0 output,
	@VehicleAllocationID varchar(50)=null,
	@VehicleID varchar(50)=null,
	@EmployeeID varchar(50)=null,
	@DriverID varchar(50)=null,
	@PickupDrop varchar(50)=null,
	@RouteID varchar(50)=null,
	@VDate varchar(50)=null
)
as
begin
	if not exists(select * from Tbl_VehicleAllocationDetails where DriverID=@DriverID and VehicleID=@VehicleID)
	begin
		if not Exists(select * from Tbl_VehicleAllocationDetails where EmployeeID=@EmployeeID)
		begin
			if((select count(EmployeeID) from Tbl_VehicleAllocationDetails where VehicleID=@VehicleID) < (select Capacity from Tbl_VehicleDetails where VehicleID=@VehicleID))
			begin
				
				--declare @ID varchar(50)
				--set @ID='VA ID'+cast((select count(@@rowcount)+1 from Tbl_VehicleAllocationDetails)as varchar)
				insert into Tbl_VehicleAllocationDetails(VehicleAllocationID,VehicleID,EmployeeID,DriverID,PickupDrop,RouteID,VDate)values(null,@VehicleID,@EmployeeID,@DriverID,@PickupDrop,@RouteID,@VDate)
				 declare @ID varchar(50)
				declare @pk int
	
				set @pk=scope_identity()
				set @ID='VA ID'+cast(@pk as varchar(50))
				

				update Tbl_VehicleAllocationDetails set VehicleAllocationID=@ID where VAID=@pk
				select @Kumar=1
			end
			else
			begin
				select @Kumar=5
			end
		end
		else
		begin
			select @Kumar=3
		end

	end
else
	begin
		select @Kumar=4
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_swa]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_swa]
(
	@Kumar int=0 output,
	@VehicleAllocationID varchar(50)=null,
	@VehicleID varchar(50)=null,
	@EmployeeID varchar(50)=null,
	@DriverID varchar(50)=null,
	@PickupDrop varchar(50)=null,
	@RouteID varchar(50)=null,
	@VDate varchar(50)=null,
	@Type varchar(3)=null
)
as


begin

if not exists(select * from Tbl_VehicleAllocationDetails where DriverID=@DriverID and VehicleID=@VehicleID)
begin
if not Exists(select * from Tbl_VehicleAllocationDetails where EmployeeID=@EmployeeID)
begin
if((select count(EmployeeID) from Tbl_VehicleAllocationDetails where VehicleID=@VehicleID) < (select Capacity from Tbl_VehicleDetails where VehicleID=@VehicleID))
begin
insert into Tbl_VehicleAllocationDetails(VehicleID,EmployeeID,DriverID,PickupDrop,RouteID,VDate)
values(@VehicleID,@EmployeeID,@DriverID,@PickupDrop,@RouteID,@VDate)
 declare @ID varchar(50)
declare @pk int

set @pk=scope_identity()
set @ID='VA ID'+cast(@pk as varchar(50))


update Tbl_VehicleAllocationDetails set VehicleAllocationID=@ID where VAID=@pk
select @Kumar=1
end
else
begin
	select @Kumar=5
end
end
else
begin
	select @Kumar=3
end
end
else
begin
	select @Kumar=4
end						
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_VehicleAllocationDetails]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_VehicleAllocationDetails]
(
	@Kumar int=0 output,
	@VehicleAllocationID varchar(50)=null,
	@VehicleID varchar(50)=null,
	@EmployeeID varchar(50)=null,
	@DriverID varchar(50)=null,
	@PickupDrop varchar(50)=null,
	@RouteID varchar(50)=null,
	@VDate varchar(50)=null,
	@Type varchar(3)=null
)
as

	if(@Type='i')
		begin
			if not exists(select * from Tbl_VehicleAllocationDetails where DriverID=@DriverID and VehicleID=@VehicleID)
				begin
					if not Exists(select * from Tbl_VehicleAllocationDetails where EmployeeID=@EmployeeID)
						begin
							if((select count(EmployeeID) from Tbl_VehicleAllocationDetails where VehicleID=@VehicleID) < (select Capacity from Tbl_VehicleDetails where VehicleID=@VehicleID))
								begin
									
									--declare @ID varchar(50)
									--set @ID='VA ID'+cast((select count(@@rowcount)+1 from Tbl_VehicleAllocationDetails)as varchar)
									insert into Tbl_VehicleAllocationDetails(VehicleID,EmployeeID,DriverID,PickupDrop,RouteID,VDate)values(@VehicleID,@EmployeeID,@DriverID,@PickupDrop,@RouteID,@VDate)
									 declare @ID varchar(50)
									declare @pk int
				  	
									set @pk=scope_identity()
									set @ID='VA ID'+cast(@pk as varchar(50))
									

									update Tbl_VehicleAllocationDetails set VehicleAllocationID=@ID where VAID=@pk
									select @Kumar=1
								end
							else
								begin
									select @Kumar=5
								end
						end
					else
						begin
							select @Kumar=3
						end

				end
			else
				begin
					select @Kumar=4
				end
		end

	if(@Type='u')
		begin
			update Tbl_VehicleAllocationDetails set VehicleID=@VehicleID,EmployeeID=@EmployeeID,DriverID=@DriverID,PickupDrop=@PickupDrop,RouteID=@RouteID,VDate=@VDate where VehicleAllocationID=@VehicleAllocationID
		end

	if(@Type='d')
		begin
			delete Tbl_VehicleAllocationDetails where VehicleAllocationID=@VehicleAllocationID
		end
	
	if(@Type='s')
		begin
			select * from Tbl_VehicleAllocationDetails
		end


	if(@Type='ss')
		begin
			select  *,convert(varchar(20),VDate,101) as VDateFMT  from Tbl_VehicleAllocationDetails where VehicleAllocationID=@VehicleAllocationID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_TripSheet]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_TripSheet]
(
	@TripSheetID varchar(50)=null,
	@AllocationID varchar(50)=null,
	@VehicleID varchar(50)=null,
	@RateKM varchar(50)=null,
	@KM varchar(50)=null,
	@TotalAmount int=null,
	@Remark varchar(50)=null,
	@Type char(3)=null

)
as

	if(@Type='i')
		begin
			if not exists(select * from Tbl_TripSheet where TripSheetID=@TripSheetID)
				begin
				--declare @ID varchar(50)
				--set @ID='TripSheet ID'+cast((select count(@@rowcount)+1 from Tbl_TripSheet)as varchar)
				insert into Tbl_TripSheet(TripSheetID,AllocationID,VehicleID,RateKM,KM,TotalAmount,Remark)values(null,@AllocationID,@VehicleID,@RateKM,@KM,@TotalAmount,@Remark)

				  declare @ID varchar(50)
				  declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='TripSheet ID'+cast(@pk as varchar(50))
					update Tbl_TripSheet set TripSheetID=@ID where TID=@pk
				end
			else
				begin
					select @TripSheetID=0
				end
		end

	if(@Type='u')
		begin
			update Tbl_TripSheet set AllocationID=@AllocationID,VehicleID=@VehicleID,RateKM=@RateKM,KM=@KM,TotalAmount=@TotalAmount,Remark=@Remark where TripSheetID=@TripSheetID
		end	

	if(@Type='s')
		begin
			select * from Tbl_TripSheet
		end

	if(@Type='ss')
		begin
			select * from Tbl_TripSheet where TripSheetID=@TripSheetID
		end
	if(@Type='d')
		begin
			delete Tbl_TripSheet where TripSheetID=@TripSheetID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_SparePartsDetails]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_SparePartsDetails]
(
	@SparerPartID varchar(50)=null,
	@DealerName varchar(50)=null,
	@SparePartType varchar(50)=NULL,
	@Quantity varchar(50)=null,
	@SparePart varchar(50)=null,
	@DateOfPurchase varchar(50)=null,
	@Price varchar(50)=null,
	@AmountPaid varchar(50)=null,
	@Type char(3)=null
)
as
		if(@Type='i')
			begin
				if not exists(select * from Tbl_SparePartsDetails where SparePartType=@SparePartType)
					begin
						--declare @ID varchar(50)
						--set @ID='SRPT ID'+cast((select count(@@rowcount)+1 from Tbl_SparePartsDetails)as varchar)
						insert into Tbl_SparePartsDetails(SparerPartID,DealerName,SparePartType,Quantity,SparePart,DateOfPurchase,Price,AmountPaid)values(null,@DealerName,@SparePartType,@Quantity,@SparePart,@DateOfPurchase,@Price,@AmountPaid)	

					   declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='SRPT ID'+cast(@pk as varchar(50))
						update Tbl_SparePartsDetails set SparerPartID=@ID where SparePart=@SparePart
					end
				else
					begin
						select @SparerPartID=0
					end
			end

		if(@Type='u')
			begin
				update Tbl_SparePartsDetails set DealerName=@DealerName,SparePartType=@SparePartType,Quantity=@Quantity,SparePart=@SparePart,DateOfPurchase=@DateOfPurchase,Price=@Price,AmountPaid=@AmountPaid where SparerPartID=@SparerPartID
			end

		if(@Type='s')
			begin
				select * from Tbl_SparePartsDetails
			end

		if(@Type='d')
			begin
				delete Tbl_SparePartsDetails where SparerPartID=@SparerPartID
			end
		if(@Type='ss')
			begin
				select * from Tbl_SparePartsDetails where SparerPartID=@SparerPartID
			end

		if(@Type='spt')
			begin
				select * from Tbl_SparePartsDetails where SparePartType=@SparePartType
			end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_ShiftSchedule]    Script Date: 12/18/2009 17:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_ShiftSchedule]
(
	@ShiftSchduleID varchar(50)=null,
	@EmpID varchar(50)=null,
	@Department varchar(50)=null,
	@BatchID varchar(50)=null,
	@EmpName varchar(50)=null,
	@ShiftID varchar(50)=null,
	@RouteID varchar(50)=null,
	@Type char(3)=null
)
as
	if(@Type='i')
		begin
			if not exists(select * from Tbl_ShiftSchedule where  EmpID=@EmpID)
				begin
					--declare @ID varchar(50)
					--set @ID='SS ID'+cast((select count(@@rowcount)+1 from Tbl_ShiftSchedule)as varchar) 
					insert into Tbl_ShiftSchedule(ShiftSchduleID,EmpID,Department,BatchID,EmpName,ShiftID,RouteID)values(null,@EmpID,@Department,@BatchID,@EmpName,@ShiftID,@RouteID)

					 declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='SS ID'+cast(@pk as varchar(50))
					
					update Tbl_ShiftSchedule set ShiftSchduleID=@ID where EmpID=@EmpID
				end
			else
				begin
					select @ShiftSchduleID=0
				end

		end

	if(@Type='u')	
		begin
			update Tbl_ShiftSchedule set EmpID=@EmpID,Department=@Department,BatchID=@BatchID,EmpName=@EmpName,ShiftID=@ShiftID,RouteID=@RouteID where ShiftSchduleID=@ShiftSchduleID
		end

	if(@Type='s')
		begin
			select * from Tbl_ShiftSchedule
		end	

	if(@Type='ss')
		begin
			select * from Tbl_ShiftSchedule where ShiftSchduleID=@ShiftSchduleID
		end	
	if(@Type='d')
		begin
			delete Tbl_ShiftSchedule where ShiftSchduleID=@ShiftSchduleID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_FeedBackFrom]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_FeedBackFrom]
(
	@FeedBackID varchar(50)=null,
	@EmpID varchar(50)=null,
	@VehicleID varchar(50)=null,
	@DriverID varchar(50)=null,
	@Remarks varchar(50)=null,
	@Type char(2)=null
)
as
	if(@Type='i')
		begin
			
			--declare @ID varchar(50)
			--set @ID='FeedBackID'+cast((select count(@@rowcount)+1 from Tbl_FeedBackFrom)as varchar)
			insert into Tbl_FeedBackFrom(FeedBackID,EmpID,VehicleID,DriverID,Remarks)values(null,@EmpID,@VehicleID,@DriverID,@Remarks)
				 declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='FeedBackID'+cast(@pk as varchar(50))
					update Tbl_FeedBackFrom set FeedBackID=@ID where FBID=@pk

			
		end

	if(@Type='d')
		begin
			delete Tbl_FeedBackFrom where FeedBackID=@FeedBackID
		end

	if(@Type='s')
		begin
			select * from Tbl_FeedBackFrom
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_DriverShiftDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_DriverShiftDetails]
(	
	@DriverShiftID varchar(50)=null,
	@DriverID varchar(50)=null,
	@Name varchar(50)=null,
	@ShiftID varchar(50)=null,
	@ShiftDate varchar(50)=null,
	@Shifting varchar(50)=null,
	@Type char(3)=null
)

as
	if(@Type='i')
		begin
			if not exists(select * from Tbl_DriverShiftDetails where DriverID=@DriverID)
				begin
				--declare @ID varchar(50)
				--set @ID='DriverShift ID'+cast((select count(@@rowcount)+1 from Tbl_DriverShiftDetails )as varchar)
				insert into Tbl_DriverShiftDetails(DriverShiftID,DriverID,Name,ShiftID,ShiftDate,Shifting)values(null,@DriverID,@Name,@ShiftID,@ShiftDate,@Shifting)

				 declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='DriverShift ID'+cast(@pk as varchar(50))
					update Tbl_DriverShiftDetails set DriverShiftID=@ID where DSID=@pk
				end
		else
			begin
				select  @DriverShiftID=0
			end
		end
	
	if(@Type='u')
		begin
			
			update Tbl_DriverShiftDetails set DriverID=@DriverID,ShiftID=@ShiftID,ShiftDate=@ShiftDate,Shifting=@Shifting where DriverShiftID=@DriverShiftID
		end

	if(@Type='s')
		begin
			select * from Tbl_DriverShiftDetails

		end

	
	if(@Type='ss')
		begin
			select  *,convert(varchar(20),ShiftDate,101) as ShiftDateFMT  from Tbl_DriverShiftDetails where DriverShiftID=@DriverShiftID

		end
	

	if(@Type='d')
		begin
			delete Tbl_DriverShiftDetails where DriverShiftID=@DriverShiftID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_DriverDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_DriverDetails]
(
	@DriverID varchar(50)=null,
	@Name varchar(50)=null,
	@Address varchar(50)=null,
	@PhoneNo varchar(50)=null,
	@DOB datetime=null,
	@DOJ datetime=null,
	@Experience varchar(50)=null,
	@LicenceNo varchar(50)=null,
	@ImagePath varchar(50)=null,
	@NoOfAccident varchar(50)=null,
	@Type char(3)=null
)
as 
	if(@Type='i')
		begin
			if not exists(select * from Tbl_DriverDetails where Name=@Name)
				begin
					--declare @ID varchar(50)
					--set @ID='DVR ID'+cast((select count(@@rowcount)+1 from Tbl_DriverDetails)as varchar)
					insert into Tbl_DriverDetails(DriverID,Name,Address,PhoneNo,DOB,DOJ,Experience,LicenceNo,ImagePath,NoOfAccident)values(null,@Name,@Address,@PhoneNo,@DOB,@DOJ,@Experience,@LicenceNo,@ImagePath,@NoOfAccident)

					 declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='DVR ID'+cast(@pk as varchar(50))

					update Tbl_DriverDetails set DriverID=@ID where Name=@Name
				end		
			else
				begin
					select @DriverID=0
				end
		end

	if(@Type='u')
		begin
			update Tbl_DriverDetails set Name=@Name,Address=@Address,PhoneNo=@PhoneNo,DOB=@DOB,DOJ=@DOJ,Experience=@Experience,LicenceNo=@LicenceNo,NoOfAccident=@NoOfAccident where DriverID=@DriverID
		end

	if(@Type='s')
		begin
			select * from Tbl_DriverDetails
		end

	if(@Type='d')
		begin
			delete Tbl_DriverDetails where DriverID=@DriverID
		end
 	if(@Type='ss')
		begin
			select *,convert(varchar(20),DOB,101) as DOB,convert(varchar(20),DOJ,101) as DOJ  from Tbl_DriverDetails where DriverID=@DriverID
		end
GO
/****** Object:  StoredProcedure [dbo].[sp_Tbl_BatchDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Tbl_BatchDetails]
(
	@BatchID varchar(50)=null,
	@TotalNoOfEmployees varchar(50)=null,
	@ShiftID varchar(50)=null,
	@Type char(3)=null
)
as
	if(@Type='i')
		begin
			if not exists(select * from Tbl_BatchDetails where ShiftID=@ShiftID)
				begin
					--declare @ID varchar(50)
					--set @ID='Batch ID'+cast((select count(@@rowcount)+1 from Tbl_BatchDetails)as varchar)
					insert into Tbl_BatchDetails(BatchID,TotalNoOfEmployees,ShiftID)values(null,@TotalNoOfEmployees,@ShiftID)

					 declare @ID varchar(50)
					declare @pk int
				  	
					set @pk=scope_identity()
					set @ID='Batch ID'+cast(@pk as varchar(50))
					update Tbl_BatchDetails set BatchID=@ID where BID=@pk
				end
			else
				begin
					select @BatchID=0
				end
		end


	if(@Type='u')
		begin
			update Tbl_BatchDetails set TotalNoOfEmployees=@TotalNoOfEmployees,ShiftID=@ShiftID where BatchID=@BatchID
		end	

	if(@Type='s')
		begin
			select * from Tbl_BatchDetails
		end	

	if(@Type='d')
		begin
			delete Tbl_BatchDetails where BatchID=@BatchID
		end

	if(@Type='ss')
		begin
			select * from Tbl_BatchDetails where BatchID=@BatchID
		end
GO
/****** Object:  StoredProcedure [dbo].[Sp_Tbl_AccidentDetails]    Script Date: 12/18/2009 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_Tbl_AccidentDetails]
(
	@AccidentID varchar(50)=null,
	@VehicleID varchar(50)=null,
	@ADate varchar(50)=null,
	@ATime varchar(50)=null,
	@Remarks varchar(50)=null,
	@Type char(1)=null
)
as

	if(@Type='i')
		begin
			--declare @ID varchar(50)
			--set @ID='Acd ID'+cast((select count(@@rowcount)+1 from Tbl_AccidentDetails)as varchar)
			insert into Tbl_AccidentDetails(AccidentID,VehicleID,ADate,ATime,Remarks)values(null,@VehicleID,@ADate,@ATime,@Remarks)

			 declare @ID varchar(50)
			declare @pk int
			  	
			set @pk=scope_identity()
			set @ID='Acd ID'+cast(@pk as varchar(50))

			update Tbl_AccidentDetails set AccidentID=@ID where ADID=@pk
		end

	if(@Type='s')
		begin
		select * from Tbl_AccidentDetails
		end

	if(@Type='d')
		begin	
			delete Tbl_AccidentDetails where AccidentID=@AccidentID

		end
GO
